/* Written using Nano - Terminal Text Editor */ 

body{
	font-family: Arial, sans-serif
}

.head{
	text-align: center;
}

div{
	text-align: center;
}


/*img{
	display: block;
	margin: 0 auto;
	width: 40%;
"Code above is also used to center images in css"
}*/


.odin{
	height: auto;
	width: 400px;
}



ol{

	font-size: 24px;
	font-weight: 700;
	list-style-position: inside;
	text-align: center;
}	
